---
layout: single
---

{{content}}

<h2>Have something to add?</h2>

Edit to suggest? Example to share? More information / links? Let us know!

<form name="behavior-feedback" netlify netlify netlify-honeypot="bot-field">
    <input type="hidden" name="behavior-title" value="{{page.title}}"/>
    <p><label>Your Thoughts<textarea name="suggestion"></textarea></label></p>
    <p><label>Contact info (for credit or follow-up)<textarea name="contactinfo"></textarea></label></p>
    <p><label>Would you like a follow-up?<input type="checkbox" name="followuprequested"></input></label></p>
    <p><label>Leave this blank if you're a human:<input type="text" name="bot-field"/></label></p>
    
    <p><button type="submit">Submit</button></p>
</form>